{% extends "admin_templates/base_template.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_content %}<div align="center" style="width:100%">
  <div class="card" style="width:40%; text-align:left;" >
  <div class="card-header"><h4>{% trans "Change Password" %}</h4></div>
  <div class="card-body">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
