{% extends 'admin_templates/base_template.html' %}

{% load static %}
{% block page_content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<style>
label {
    color: white !important;
    background: black !important;
}
.dataTables_info{
    color: white !important;
    background: black !important;

}
.text-warning{
    color: #d22222!important;
    text-align: center;
}
.row{
    border: 1px solid darkgray;
    box-shadow: 1px 1px 3px darkgrey;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
}
.form-data{
padding:0rem;
}
</style>

<div class="row">
<div class="col-md-12">
<form method="post" enctype="multipart/form-data" class="form-data">
    {% csrf_token %}
    <h3>Export Data</h3>
    <p>exporting from database</p>
    <p>Please select format of file.</p>
    <select name="file-format" class="form-control my-3">
        <option selected>Choose format...</option>
        <option>CSV</option>
        <option>JSON</option>
        <option>XLS (Excel)</option>
      </select>
    <button class="btn btn-primary" type="submit">Export</button>
  </form>
</div>
</div>
  {% endblock %}