{% extends 'inventory_html/main.html' %}

{% block content %}

{#<p>importing to database</p>#}
<div class="row">
<div class="col-md-12">
<form method="post" enctype="multipart/form-data" style="padding-left:8%;">
    <h3>Import Data from File</h3>
    {% csrf_token %}
    <input type="file" name="importData">
    <p>Please select format of file.</p>
    <select name="file-format" class="form-control my-3">
        <option selected>Choose format...</option>
        <option>CSV</option>
        <option>JSON</option>
        <option>XLS</option>
      </select>
    <button class="btn btn-primary" type="submit">Import</button>
  </form>

</div>
</div>
  {% endblock %}