
{% extends "inventory_html/main.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load static %}

{% block sidebar %}
<div align="center" style="width:100%">
           <div class="card" style="width:40%; text-align:left;" >
  <div class="card-header"><h4>Please Update the Product Here</h4></div>
  <div class="card-body">
      <form class="login" method="POST" enctype="multipart/form-data">
  <div  class="uniForm" >
  {% csrf_token %}
  {{ form|crispy }}
  {{ image_form|crispy }}
  <button class="btn btn-success btn-lg" type="submit">Update Product</button>
  <a href="/stock" class="btn btn-warning btn-lg" style="display:inline-block;float: right">Back to Product</a>

</div>
{% endblock %}