{% extends "datascience_html/base.html" %}

{% block title %}performance{% endblock %}

{% block content %}
{#    {{ products|safe }}#}
<div class="ui modal mymodal">
    <div class="header"><h1>Price Data</h1></div>
  <div class="ui container">
    <ul>
        <li><strong>Count:</strong>{{ price.count }}</li>
        <li><strong>Mean:</strong>{{ price.mean }}</li>
        <li><strong>Median:</strong>{{ price.median }}</li>
        <li><strong>Min:</strong>{{ price.min }}</li>
        <li><strong>Max:</strong>{{ price.max }}</li>
        <li><strong>Std dev:</strong>{{ price.std }}</li>
    </ul>
  </div>
</div>
<div>
    <div class="block-center">
        {% if error_message %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}

        {% if request.POST %}
            {% if graph %}
                <img src="data:image/png;base64,{{ graph|safe }}">
            {% endif %}
        {% endif %}
</div>
<div class="form-container" style=width:100%;text-align:center;margin:4rem 7rem;">

    <form action="" method="POST" class="ui form">
    {% csrf_token %}
        <div class="field">
            <label>Select Chart Type</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="sales">
                <i class="dropdown icon"></i>
                <div class="default text">-----</div>
                <div class="menu">
                    <div class="item" data-value="bar">Bar plot</div>
                    <div class="item" data-value="line">Line plot</div>
                    <div class="item" data-value="count">Count plot</div>
                    <div class="item" data-value="corr">Corelation plot</div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Date from:</label>
                    <input type="text" name="date_from">
                </div>
                <div class="field">
                    <label>Date to:</label>
                    <input type="text" name="date_to">
                </div>
            </div>
        </div>

        <div class="block-center">
            <button class="ui primary button">Select</button>
        </div>

    </form>
</div>
    <div class="block-center">
        <button class="ui secondary button" id="modal-btn">See summary</button>
        <br>
        <a href={% url "datascience:add_purchase" %}><button class="ui positive button">Add Records</button></a>
    </div>


{% endblock %}